{% extends "AppProyecto4/padre.html" %}

{% load static %}


{% block titulo %}

{{mensaje}}

{% endblock %}


{% block descripcion %}

<form action="/AppProyecto4/resultados" method="GET"> {% csrf_token %}

    <input type="number" name="modelo" id="modelo">
    <input type="submit" value="Buscar">


</form>

<p> Estamos buscando el modelo: {{modelo}}</p>

{% for servers in server %}

    <p>Nombre: {{servers.nombre}} ----- Modelo: {{servers.modelo}}</p>

{% endfor %}

{% endblock %}



{% block productions2 %}

<body>

    <form action="/AppProyecto4/server_list.html" method="GET"
    
    
        <h5>Inventario Produccion6</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
{% for server in object_list %}
                <tr>
                    <td>{{server.nombre}}</td>  
                    <td>{{server.modelo}}</td>
                    <td><button><a href="{% url 'EliminarServer' server.id %}"> Eliminar </a></button></td>
                    <td><button><a href="{% url 'editarServer' server.id %}"> Editar </a></button></td>
                    <td><button><a href="{% url 'ServerDetalle' server.id %}"> Ver </a></button></td>
                </tr>
            </tbody>    
{% endfor %}

    <br>

    <a href="{% url 'ServerLeer'%}"> View servers </a>
        </table>
    </form>

{% endblock %}






