<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Inicio</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'AppProyecto4/assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'AppProyecto4/assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'AppProyecto4/assets/css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'Inicio' %}"></i>&nbsp;Inicio</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
              
                
                        {% if request.user.is_authenticated %}
                        <h6> Bienvenido {{user.username}}</h6>

                        {% with first_image=user.avatar_set.first %}
                             {% if first_image %}
                                 <a href="{{ first_image.imagen.url }}" target="_blank">
                                 <img src="{{ first_image.imagen.url }}" height="40px">
                             {% endif %}
                        {% endwith %}     




                        <li><a href="{% url 'Editarusuario' %}">Editar Usuario</a></li>
                        <li><a href="{% url 'Logout' %}">Cerrar Sesion</a></li>

                        {% else %}

                        <li><a href="{% url 'SignUP' %}">Registrarse</a></li>
                        <li><a href="{% url 'Login' %}">Iniciar Sesion</a></li>    


                        {% endif %}

                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src="{% static 'AppProyecto4/assets/img/find_user.png' %"} class="img-responsive" />
                     
                    </li>


                    <li>
                        <a href="{% static 'AppProyecto4/assets/index.html' %"}><i class="fa fa-desktop "></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Notifications</a>
                            </li>
                            <li>
                                <a href="#">Elements</a>
                            </li>
                            <li>
                                <a href="#">Free Link</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-table "></i>Table Examples</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-qrcode "></i>Tabs & Panels</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i>Mettis Charts</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Last Link </a>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-table "></i>Blank Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="color: red;">INVENTARIO</h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <h5>Buscar Modelo</h5>
                        <div class="panel panel-primary text-center no-boder bg-color-yellow">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h3>                                <h5>

                                    {% block descripcion %}
        
                                    {% endblock %}
                            
                                </h5></h3>
                            </div>
                            <div class="panel-footer back-footer-blue">
                                Modelos disponibles
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-1 col-xs-8">
                        <h5>Login</h5>
                        <div class="alert alert-info text-center">
                            <i class="fa fa-desktop fa-5x"></i>
                            <h3>        
                                
                                {% block descripcion2 %}
        
                                {% endblock %} 
                            
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Crear ASSET</h5>
                        <a href="{% url 'server' %}" class="btn btn-default">Servers</a>
                        <a href="{% url 'Produccion' %}" class="btn btn-primary">Produccion</a>
                        <a href="{% url 'Sistemas' %}" class="btn btn-danger">Sistemas</a>
                        <br />
                        <br />
                       
                    </div>

                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>

                            </label>
                            <input class="form-control" />
                            <p class="help-block">Help text here.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Acceso directo a PROD</label>
                        <a href="{% url 'ProduccionLeer' %}" target="_blank" class="btn btn-danger btn-lg btn-block">Ver Servers Productivos</a>
                    </div>

                    <div class="col-md-4">
                        <label>Cargar imagenes</label>
                        <a href="{% url 'AgregarImagen' %}" target="_blank" class="btn btn-danger btn-lg btn-block">Cargar imagenes de servidores</a>
                    </div>




                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h5>Inventario Produccion</h5>
                        <table class="table table-striped table-bordered table-hover">
                            
                                {% block productions2 %}
                                
                                {% endblock %}
                        </table>

                 
                </div>
                <!-- /. ROW  -->
                <hr />
                  <div class="row">
                    <div class="col-md-12">
                        <h5>Information</h5>
                            This is a type of bare admin that means you can customize your own admin using this admin structured  template . For More Examples of bootstrap elements or components please visit official bootstrap website <a href="http://getbootstrap.com" target="_blank">getbootstrap.com</a>
                        . And if you want full template please download <a href="http://www.binarytheme.com/bootstrap-free-admin-dashboard-template/" target="_blank" >FREE BCORE ADMIN </a>&nbsp;,&nbsp;  <a href="http://www.binarytheme.com/free-bootstrap-admin-template-siminta/" target="_blank" >FREE SIMINTA ADMIN</a> and <a href="http://binarycart.com/" target="_blank" >FREE BINARY ADMIN</a>.

                    </div>
                </div>
                <!-- /. ROW  -->

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'AppProyecto4/assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'AppProyecto4/assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'AppProyecto4/assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'AppProyecto4/assets/js/custom.js' %}"></script>


</body>
</html>

